<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Title of the document</title>
	
	
	<link rel="stylesheet" type="text/css" href="../style.css">
	<link rel="stylesheet" type="text/css" href="cookies-banner.css">
	<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet">
	
	<!-- CDNs -->
	<script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
	
</head>

<body>
	<div class="cookies-banner-container">
		<div class="cookies-image">
			<img src="../../images/cookies4.svg">
		</div>
		<div class="cookies-text">
			<h4 class="cookies-title">Utilisation des cookies</h4>
			 <span class="cookies-close lnr lnr-cross"></span>
			<p class="cookies-paragraph">Ce site n'utilise pas de cookie, naviguez en toute tranquilité</p>
		</div>
	</div>
	
</body>

</html>