<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Title of the document</title>
	
	
	<link rel="stylesheet" type="text/css" href="../style.css">
	<link rel="stylesheet" type="text/css" href="cookies-banner.css">
	
	<!-- CDNS -->
	<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
	
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet">
	
</head>

<body style="background-color: deepskyblue;">

	<div class="post-container">
		<h2 class="post-title">Chef de projet digital</h2>
		<br>
		<h5 class="post-under-title">( Junior )</h5>
		<hr>
		<p class="post-paragraph">Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là, mais la majeure partie d'entre elles a été altérée par l'addition d'humour ou de mots aléatoires qui ne ressemblent pas une seconde à du texte standard. Si vous voulez utiliser un passage du Lorem Ipsum, vous devez être sûr qu'il n'y a rien d'embarrassant caché dans le texte. Tous les générateurs de Lorem Ipsum sur Internet tendent à reproduire le même extrait sans fin, ce qui fait de lipsum.com le seul vrai générateur de Lorem Ipsum. Iil utilise un dictionnaire de plus de 200 mots latins, en combinaison de plusieurs structures de phrases, pour générer un Lorem Ipsum irréprochable.</p>
		
		<div style="margin-top:30px; display: flex;">
			<a href="#" class="btn-normal" style="width:100%;"><span class="lnr lnr-envelope"></span>&nbsp;&nbsp; Me contacter</a>
		</div>
		
	</div>
	
	<div style="margin:150px;background-color: white;padding: 50px;width: max-content;">
		<a href="#" class="btn-normal"><span class="lnr lnr-arrow-right"></span>&nbsp;&nbsp; Me contacter</a>
	</div>
	
	<div class="period-container">
		<div class="period-from">
			<p class="period-title">À partir du :</p>
			<p><span class="lnr lnr-calendar-full period-icon"></span> 7 juin 2019</p>
		</div>
		<div class="period-to">
			<p class="period-title">Jusqu'au : </p>
			<p><span class="lnr lnr-calendar-full period-icon"></span> 6 juin 2020</p>
		</div>
	</div>
	
	
</body>

</html>